* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #0a3d62;
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #1e90ff, #38ada9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: white;
  color: #1e90ff;
  cursor: pointer;
}

section {
  padding: 60px 40px;
}

.service-box {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 30px;
  background: #f1f2f6;
  text-align: center;
  border-radius: 8px;
}

form {
  max-width: 400px;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0a3d62;
  color: rgb(255, 255, 255);
}
